@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    .justify-content-center {
        display: flex;
        justify-content: center;
       
    }
    .rounded-box {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 800px;
    }

    body {
        background-color: #8aa386;
    }
</style>
<div class="justify-content-center">
    <div class="rounded-box">
        <h2 class="justify-content-center">My Account</h2>
        <div>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <h6>User settings</h6>
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @RenderSection("Scripts", required: false)
    }