@{
    ViewData["Title"] = "Home Page";
}
<div class="social-media">
    <img class="prosed-mascot" src="images/prosed-mascot.jpg" />
</div>
<div class="calendar-container">
    <div class="calendar">
        <div class="calendar-header">
            <button id="prev-month">Prev</button>
            <div id="month-year"></div>
            <button id="next-month">Next</button>
        </div>
        <div class="calendar-body">
            <div class="calendar-weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-dates">
                
            </div>
        </div>
    </div>
</div>

<script src="js/calendar.js"></script>