@{
    ViewData["Title"] = "Home Page";
}

<div class="calendar">
    <div class="calendar-header">
        <button id="prev-month">Previous</button>
        <div id="month-year"></div>
        <button id="next-month">Next</button>
    </div>
    <div class="calendar-body">
        <div class="calendar-weekdays">
            
        </div>
        <div class="calendar-dates">
            
        </div>
    </div>
</div>

<script src="js/calendar.js"></script>